<div class="toc-header">
  <div class="toc-toolbar">
    <div class="checkbox-wrapper master-checkbox" title="Toggle All">
      <input type="checkbox" [checked]="allVisible()" [indeterminate]="someVisible()" (change)="toggleAll()"
        id="toc-master-check" />
      <label for="toc-master-check">Categories</label>
    </div>

    <button class="icon-button" [class.active]="state.onlyShowVisibleInToc()"
      (click)="state.setOnlyShowVisibleInToc(!state.onlyShowVisibleInToc())"
      title="Hide categories that are currently off-screen from this list">
      @if (state.onlyShowVisibleInToc()) {
      <app-icon name="eye-off" [size]="16" />
      } @else {
      <app-icon name="eye" [size]="16" />
      }
    </button>
  </div>
</div>

<div class="toc-container custom-scrollbar" #tocContainer>
  <ul class="toc-list">
    @for (item of state.tocItems(); track item.id) {
    @let isActive = state.activeCategoryId() === item.id;

    <li class="toc-item" [attr.data-id]="item.id" [class.is-active]="isActive" [class.is-filtered]="item.isFilteredOut"
      [class.is-off-screen]="!item.isFilteredOut && item.isOffScreen" [class.is-hidden-state]="item.isHidden">

      <div class="checkbox-wrapper item-checkbox">
        <input type="checkbox" [checked]="!item.isHidden" (change)="toggleItem(item.id, $event)" />
      </div>

      <div class="item-content" (click)="handleItemClick(item.id)"
        [style.border-left-color]="item.isVisibleVertically ? item.color : 'transparent'" [style.color]="item.color">
        <span class="toc-name">{{ item.name }}</span>

        <div class="toc-badges">
          @if (state.searchQuery()) {
          <span class="badge badge-filtered" title="Matches search query">
            <app-icon name="search" [size]="10" [strokeWidth]="3" />
            {{item.countFiltered}}
          </span>
          }

          <span class="badge badge-visible" [class.dimmed]="item.countVisible === 0" title="Visible on screen">
            <app-icon name="eye" [size]="10" [strokeWidth]="3" />
            {{item.countVisible}}
          </span>

          <span class="badge badge-total" title="Total events">
            {{item.countTotal}}
          </span>
        </div>
      </div>
    </li>
    }
    @if (state.tocItems().length === 0) {
    <div class="empty-toc">No categories available</div>
    }
  </ul>
</div>
