<div
  class="timeline-event"
  [class]="animation.pulseClass()"
  [class.selected]="isSelected()"
  [class.is-hovered]="isHovered()"
  [class.instance-active]="isActive()"
  [class.is-dimmed]="isDimmed()"
  [attr.title]="tooltip()"
  [style.left.px]="data().x"
  [style.width.px]="data().visualWidth"
  [style.top.px]="top()"
  [style.height.px]="height()"
  (pointerdown)="onPointerDown($event)"
  (pointerup)="onPointerUp($event)"
  (click)="onClick($event)"
  (pointerenter)="onMouseEnter($event)"
  (pointerleave)="onMouseLeave()"
  (animationend)="animation.onAnimationEnd()">
  <div class="interaction-layer">
    @if (type() === "event") {
      @let e = ev();
      <div
        class="event-bg"
        [class.is-single-year]="isSingleYear()"
        [class.is-ongoing]="isOngoing()"
        [class.no-border-left]="e.clippedLeft"
        [class.no-border-right]="!e.hasRightBorder"></div>

      <div
        class="event-label label-base"
        [class.is-active]="isActive()"
        [class.is-legend-full]="e.displayMode === 'legend-full'"
        [style.maxWidth.px]="isActive() ? null : e.safeWidth"
        [style.background-image]="gradientStyle()">
        <span class="event-text" [class.text-fade-mask]="isTextMasked()">
          {{ e.displayText }}
        </span>
      </div>

      <div
        class="event-label label-mask"
        [class.is-legend-full]="e.displayMode === 'legend-full'"
        aria-hidden="true">
        <span class="event-text" [class.text-fade-mask]="isTextMasked()">
          {{ e.displayText }}
        </span>
      </div>

      @if (hasRelatedDots()) {
        <div
          class="related-dots"
          [style.maxWidth.px]="isActive() ? null : e.safeWidth"
          [class.text-fade-mask]="isDotsMasked()">
          @for (cat of relatedCategories(); track cat.id) {
            <div
              class="related-dot"
              [style.background-color]="'hsl(' + cat.color + ')'"></div>
          }
        </div>
      }
    }

    @if (type() === "legend") {
      <span class="legend-text">
        {{ item().text }}
      </span>
    }

    @if (isActive()) {
      @if (hasRelatedDots()) {
        <div class="category-tag-container">
          @for (cat of relatedCategories(); track cat.name) {
            <div
              class="category-mini-tag"
              [style.background-color]="'hsl(' + cat.color + ')'">
              {{ cat.name }}
            </div>
          }
        </div>
      }

      <div
        class="date-tag start-tag"
        [class.out-of-bounds]="isStartOutOfBounds()">
        {{ raw().start | yearFormat }}
      </div>

      @if (!isSingleYear()) {
        @if (isOngoing()) {
          <div class="date-tag end-tag ongoing">Present</div>
        } @else {
          <div
            class="date-tag end-tag"
            [class.out-of-bounds]="isEndOutOfBounds()">
            {{ raw().end | yearFormat }}
          </div>
        }
      }
    }
  </div>
</div>
