<main class="timeline-view-wrapper" appTimelineInteractions [scrollContainer]="scrollContainer">

  <div class="scroll-area custom-scrollbar" #scrollContainer (scroll)="onScroll()">
    <app-timeline-ruler></app-timeline-ruler>

    <app-timeline-view></app-timeline-view>

    <div class="guides-layer" [style.margin-right.px]="config.viewPaddingRight()">
      @let pGuideX = persistentGuideX();
      @if (pGuideX !== null) {
      <div class="persistent-guide-line" [style.left.%]="pGuideX"></div>
      }

      @let guideX = cursorGuideX();
      @if (guideX !== null) {
      <div class="cursor-guide-line" [style.left.%]="guideX"></div>
      }
    </div>
  </div>
</main>
