<main class="timeline-view-wrapper" appTimelineInteractions>
  <div class="guides-layer" [style.width.px]="state.layoutWidth()">
    @let pGuideX = persistentGuideX();
    @if (pGuideX !== null) {
      <div class="persistent-guide-line" [style.left.px]="pGuideX"></div>
    }

    @let guideX = cursorGuideX();
    @if (guideX !== null) {
      <div class="cursor-guide-line" [style.left.px]="guideX"></div>
    }
  </div>

  <div class="ruler-container" #rulerContainer>
    <app-timeline-ruler></app-timeline-ruler>
  </div>

  <div class="scroll-area custom-scrollbar" #scrollArea (scroll)="onScroll()">
    <app-timeline-view></app-timeline-view>
  </div>
</main>
