:host {
  display: block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

.workspace {
  display: flex;
  flex: 1;
  overflow: hidden;
  gap: 2px;
  background-color: #e2e8f0;
}
